spring:
  datasource:
    url: jdbc:mysql://localhost:3306/atguigutakeout
    password: 123456
    username: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
server:
  servlet:
    context-path: /buyer
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: false
  servlet:
    multipart:
      max-file-size: 10MB
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.dsdaaa.atguigutakeout
knife4j:
  enable: true
  setting:
    language: zh_cn
