<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dsdaaa.atguigutakeout.mapper.UsersMapper">

    <resultMap id="BaseResultMap" type="com.dsdaaa.atguigutakeout.domain.Users">
            <id property="userid" column="userid" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="openid" column="openid" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        userid,username,phone,
        openid,address
    </sql>
</mapper>
